:root{

    /*Colors*/

    --main-txt-cl: #555555;
    --secondery-txt-cl: #303030; 
    --main-bg-cl: #ffffff; 
    --title-light: #ffffff;
    --accent-cl: #FF6C00;
    --subtitle-cl: #9DA4BD;

}



body{

    font-family: Open Sans;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.36px;
    color: var(--main-txt);
    outline: 2px solid red;
}

/*BASE STYLES*/

.section {

    outline: 2px solid red;
    padding-top: 84px;
    padding-bottom: 84px;

}

.container {
    min-width: 320px;
    max-width: 448px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,
ol{

    list-style: none;
    margin: 0;
    padding: 0;
   
}


h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin: 0px;
    
}

img {

   display: block;
}

button {

    cursor: pointer;
}

.link{

    text-decoration: none;
}

.uppertitle{

    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondery-txt-cl);
    margin-bottom: 20px;
}

.title{

    font-size: 48px;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 2.1px;
    color: var(--secondery-txt-cl);
    margin-bottom: 20px;
}

.title-light{

    color: var(--title-light); 
}

.btn{

    min-width: 160px;
    min-height: 40px;
    padding: 12px 20px;

    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 1.08px;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    text-transform: uppercase;
    color: var(--title-light);
    background-color: transparent;
    
}



/*PATTERN*/

.visually-hidden{

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}


/*HEADER STYLES*/

.header {

    background-color: #111319;
    padding-top: 40px;
    padding-bottom: 112px;
    width: 100%;
}
.header-logo {
  
}
.header-logo-img {
    
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link,
.header-contact {

    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 1.2px;
    color: var(--title-light);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {

    color: var(--accent-cl);
}

.btn:hover,
.btn:focus{

    color: var(--title-light);
    background-color: var(--accent-cl);
}


/*HERO STYLE*/

.hero {

    background-color: #111319;
    padding-top: 0;
    padding-bottom: 0;
}

.hero-container {

}

.hero-list {
}
.hero-item {
}
.hero-link {
}

.hero-wrapper {

    width: 336px;
}

.hero-uppertitle {

    color: var(--subtitle-cl);
}
.hero-title {
}
.hero-subtitle {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.62;
    color: var( --subtitle-cl);
}
.hero-list-slide {
}
.hero-item-slide {
}
.hero-btn-slide {
}


/*ABOUT STYLES*/

.about {
}
.about-list {
}
.about-item {
}

.about-img {

}

.about-uppertitle {

 color: var(--secondery-txt-cl);

}
.about-title {

    width: 306px;
    font-size: 28px;
}
.about-subtitle {

    font-size: 16px;
    line-height: 1.6;
    color: var(--main-txt-cl);
    margin-bottom: 20px;
}
.about-desc {
    
    font-size: 14px;
    line-height: 1.8;
    color: var(--main-txt-cl);

    margin-bottom: 40px;
}
.about-btn {

    color: var(--secondery-txt-cl);
}

/*PRICE STYLE*/

.price{

    background-color: #111319;
}

.price-uppertitle {
}
.price-title {
}
.price-list {
}
.price-item {
}
.price-list-sub {
}
.price-item-sub {
}
.price-btn {
}

/*BENEFITS STYLE*/

.benefits-list {
}
.benefits-item {
}
.benefits {
}
.benefits-desc {
}
.benefits-uppertitle {
}
.benefits-title {
}
.benefits-text {
}

/*TEAM STYLES*/

.team-uppertitle {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-pic {
}
.team-person {
}
.team-desc {
}

/*GALLERY STYLES*/

.gallery-uppertitle {
}
.gallery-title {
}
.gallery-list {
}
.gallery-pic {
}

/*Booking Section*/

.booking {

    background-color: #111319;
}

input {

    background-color: transparent;
}

textarea {

    background-color: transparent;
}

.booking-button {

    background-color: transparent;
}

/*CONTACTS STYLES*/

.contacts{

    background-color: #111319;
}

.contact-title {
}
.contact {

    font-style: normal;
}
.contact-link {
}
.contact-subtitle {
}
.contact-desc {
}

/*FOOTER STYLES*/

.footer {
}
.container {
}
.footer-copyright {
}
.media {
}
.media-item {
}
.media-link {
}

/* Media Requests*/

@media only screen and (min-width: 320px) and (max-width: 767.8px){
    
    .header-logo-img {
        
        width: 76px;
        height: 56px;
    }

    .header-nav,
    .header-contact,
    .hero-list-hidden {

        display: none;
    }

    .header-btn-hidden {

        display: none;
    }

    .hero-list-hidden {

        display: none;
    }

    .about-img {

        display: none;
    }
}

